.box{
background-color: grey;
border-style: dashed;
width: 22rem;
margin: auto;
}
h1{
    margin: auto; 
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.from-grup{
    margin-bottom: .125rem;
    
}
.form-label{
    display: inline;
    margin-bottom: .125rem;
}
.from-control {
    display: block;
    width: 15rem;
}

button[type="submit"]
{
    background-color: green;
}
.legend{
    border-style:ridge;
}
button[type="reset"]
{
    background-color: yellow;
}

/* esto hace referencia a la propiedad readonliy dentro del from donde sea que lo entegamos */
input.from-control:read-only{
    background-color:grey;
}

textarea {
    background-color: antiquewhite;
    resize: none;
}